<div class="container">
  <h1><%= @restaurant.name %> (<%= @restaurant.category %>)</h1>
  <strong>Address at:</strong> <%= @restaurant.address %>
  <div>
    <strong>Phone Number:</strong>
    <p>
      <%= @restaurant.phone_number %>
    </p>
  </div>





  <hr>

  <%= link_to '< All restaurants', restaurants_path %> | <%= link_to 'edit', edit_restaurant_path(@restaurant) %>
</div>
